.container {
  padding: 20px;
}

.movieDetails {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.details {
  max-width: 600px;
}

.additionalInfo {
  margin-top: 20px;
}
.buttonBack {
    display: inline-block;
    padding: 10px 20px;
    background-color: #705bce;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
margin-bottom: 10px;
  }

.buttonBack:hover {
    background-color: #cc0f5e;
}
