.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.listItem {
  width: 200px;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}

.link {
  text-decoration: none;
}
.image, .authorAvatar {
    transition: transform 0.3s ease; /* Плавный переход */
}

.image:hover, .authorAvatar:hover {
    transform: scale(1.1); /* Увеличение изображения */
}

/* В Reviews.module.css */
.icon {
    transition: transform 0.3s ease; /* Плавный переход для иконки */
}

.icon:hover {
    transform: scale(1.1); /* Увеличение иконки при наведении */
}